<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="mb-4">
                
            <a class="btn btn-outline-light btn-floating m-1" href="https://fr-fr.facebook.com/" role="button"
            ><img src="/assets/téléchargement.png">
            </a>
    
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/?hl=fr" role="button"
            ><img src="/assets/téléchargement (1).png">
            </a>
    
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.pinterest.fr/" role="button"
            ><img src="/assets/téléchargement (2).png">
            </a>
            <br>
            <br>
            <br>
        <section class="">
            <form action="">
                <div class="row d-flex justify-content-center">

                    <div class="col-auto">
                    <p class="pt-2">
                        <strong>Votre email pour recevoir les newsletter</strong>
                    </p>
                    </div>

        

                    <div class="col-md-5 col-12">

                    <div class="form-outline form-white mb-4">
                        <input type="email" id="form5Example2" class="form-control" />
                        <label class="form-label" for="form5Example2">Email </label>
                    </div>
                    </div>
        
                    
                    <div class="col-auto">
                    <button type="submit" class="btn btn-outline-light mb-4">
                    Envoyé
                    </button>
                    </div>  

                </div>
            </form>
        </section>
    
        <section class="mb-4">
            <p>
            Notre site e-commerce est le n°1 des sites de vente de leurre pour la pêche en street fishing  
            </p>
        </section>
    
        <section class="">

            <div class="row">

                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nos offres</h5>
        
                    <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#produits" class="text-white">Top ventes</a>
                    </li>
                    <li>
                        <a href="#produits" class="text-white">Promotions</a>
                    </li>
                    <li>
                        <a href="#produits" class="text-white">A voir absolument</a>
                    </li>
                    </ul>
                </div>
    
    
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase" id="Contact">Un problème ?</h5>
        
                    <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#admin" class="text-white">Contact</a>
                    </li>
                    <li>
                        <a href="#admin" class="text-white">email</a>
                    </li>
                    <li>
                        <a href="#admin" class="text-white">Foire aux questions</a>
                    </li>
                    </ul>
                
                </div>

            </div>

        </section>
    </div>
</footer>