<main>
    <section class="bienvenue" id="home">    
        <div class="container">
            <div class="row">
            <div class="col">
                <h1>Bienvenue !</h1>
            </div>
            <div class="col">
                <h3>Tout ce qu'il vous faut pour pecher</h3>
            </div>
            <div class="col">
                <p> N'hésitez pas à consulter nos offres sur les differents leurres qui ont fait leur preuvent </p>
            </div>
            </div>
        </div>
    </section>

    